<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747136074579-u04e485tteedocsdh3nl1qgogj27ifvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747136074579-u04e485tteedocsdh3nl1qgogj27ifvb</string>
	<key>API_KEY</key>
	<string>AIzaSyAeVV1ve4B9xkKjDmRJNJEkLlKwvVmuaD0</string>
	<key>GCM_SENDER_ID</key>
	<string>747136074579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.levi.textenger</string>
	<key>PROJECT_ID</key>
	<string>textenger-d7d6d</string>
	<key>STORAGE_BUCKET</key>
	<string>textenger-d7d6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747136074579:ios:e987f6c15529f6a57417a6</string>
</dict>
</plist>